{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APQAD-GIMPA • Welcome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'website/main.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'welcome' %}"><img src="{% static './images/gimpalogo.png' %}" alt=""></a>
        <nav>
            <ul>
                <li><a href="{% url 'welcome' %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="mailto:lecturersevaluation@gimpa.edu.gh">Support</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="jumbotron">

          <div>
            <h5 class="tagline">Enhancing your evaluation experience</h5>
            <h2>Evaluate Smart</h2>
            <h3>Evaluate in 5 mins</h3>
{##}

            <p>Smartlev is GIMPA'S Online Lecturer's Evaluation platform to enhance students evaluation process.</p>

            <div id="buttons">
                <a href="{% url 'login_student' %}" class="btn accent">Am a Student</a>
                <a href="{% url 'login_lecturer' %}" class="btn olive">Am a Lecturer</a>
              </div>
          </div>


          <div id="banner-image">
            <img src="./images/icons8-play-64.png" class="play" alt="">
          </div>
        </section>

        <section id="student" class="walkthrough">
                <h4>Student Walk-through</h4>
                <div class="bubble owl-lightblue">
                    <h2>Register Account</h2>
                    <p>Register your account by selecting on 'Am a student'. Register with your student email and password alongside other required data</p>
                </div>
                <div class="bubble owl-lightpink">
                    <h2>Confirm Email</h2>
                    <p>Go to your email inbox or spam to confirm and activate your account by clicking on "CLICK HERE". This will redirect you back to the login page.</p>
                </div>
                <div class="bubble owl-lightgold">
                    <h2>Setup Profile</h2>
                    <p>Setup your profile by filling the information required your program, campus, course group and level. This is a required step.</p>
                </div>
                <div class="bubble owl-lightviolet">
                    <h2>Select Course</h2>
                    <p>Click among the respective courses to begin the evaluation process. You will be lead to the evaluation page of the course.</p>
                </div>


                <div class="bubble owl-lightcarrot">
                    <h2>Evaluate</h2>
                    <p>Evaluate the course by reading each question and answering appropriately. Please select "Not Applicable" if the question is not relatable.</p>
                </div>




        </section>

        <section class="lecturer-hub">
            <div class="lecturer-hub-image">
                <!-- <img src="./images/pexels-vlada-karpovich-4939638.jpg" alt=""> -->
            <img src="./images/icons8-play-64.png" class="play" alt="">

           </div>

           <div class="lecturer-card">
            <h4>
                Lecturer Hub
            </h4>
            <div class="">
                <h2>Register Account</h2>
                <p>Register your account today to view your evaluation reports and print them. By registering you get the benefit to view your courses and understand how you are performing as evaluated by your stduents.</p>

                <a href="{% url 'register_lecturer' %}" class="btn accent">Register Today &rarr;</a>
                </div>
           </div>


        </section>



        <section id="lecturer" class="walkthrough">
            <h4>Lecturer's Walkthrough</h4>
            <div class="bubble owl-green">
                <h2>Register</h2>
                <p>APQAD-GIMPA is a student-led initiative that aims to promote the development of the Ghanaian economy through the use of technology.</p>
            </div>
            <div class="bubble owl-orange">
                <h2>Confirm Email</h2>
                <p>APQAD-GIMPA is a student-led initiative that aims to promote the development of the Ghanaian economy through the use of technology.</p>
            </div>
            <div class="bubble owl-purple">
                <h2>Setup Profile</h2>
                <p>APQAD-GIMPA is a student-led initiative that aims to promote the development of the Ghanaian economy through the use of technology.</p>
            </div>
            <div class="bubble owl-pink">
                <h2>Select Course</h2>
                <p>APQAD-GIMPA is a student-led initiative that aims to promote the development of the Ghanaian economy through the use of technology.</p>
            </div>


            <div class="bubble owl-blue">
                <h2>Encourage</h2>
                <p>APQAD-GIMPA is a student-led initiative that aims to promote the development of the Ghanaian economy through the use of technology.</p>
            </div>




    </section>

    </main>

    <footer>
        <div class="footer-content">

            <div class="footer-section about">
        <img src="./images/gimpalogo.png" alt="">

                <h2 class="logo-text">APQAD-GIMPA</h2>
                <p>APQAD-GIMPA is a student-led initiative that aims to promote the development of the Ghanaian economy through the use of technology.</p>
                <div class="contact">
                    <span><i class="fas fa-phone"></i> &nbsp; 024 000 0000</span>
                    <span><i class="fas fa-envelope"></i> &nbsp;
                        </span>
                </div>
            </div>



    </footer>

</body>
</html>