asgiref @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_edg6nzjrx0/croots/recipe/asgiref_1661287549316/work
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_83242e7e-f82d-4a71-8ef2-9d71d212d249gu_wxmeq/croots/recipe/certifi_1655968827803/work/certifi
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_62rp5d8fd4/croots/recipe/cffi_1659598655556/work
charset-normalizer==2.1.1
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b470f7cb-c8f1-42c9-b84f-23789ea77e7c9difcqh4/croots/recipe/cryptography_1652101134392/work
defusedxml==0.7.1
diff-match-patch==20200713
Django @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_066uop7vqa/croots/recipe/django_1661292540858/work
django-environ==0.9.0
django-import-export==2.9.0
et-xmlfile==1.1.0
idna==3.3
mailjet-rest==1.3.4
MarkupPy==1.14
odfpy==1.4.1
openpyxl==3.0.10
psycopg2-binary==2.9.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
python-dotenv==0.21.0
PyYAML==6.0
requests==2.28.1
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
tablib==3.2.1
urllib3==1.26.12
xlrd==2.0.1
xlwt==1.3.0
