{% extends 'admin-templates/dashboard.html' %}
{% load students_per_course %}
{% block overview_stats %}
    {% include 'compute/includes/overview-lecturer-stats.html' %}
{% endblock %}

{% block content %}

    <div class="col">
        <div class="ibox ">
            <div class="ibox-title bg-safe">
                <h5>Campuses </h5>
            </div>
            <div class="ibox-content">
                <div class="">

                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="ibox ">
            <div class="ibox-title bg-safe">
                <h5>Levels </h5>
            </div>
            <div class="ibox-content">
                <div class="">

                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="ibox ">
            <div class="ibox-title bg-safe">
                <h5>Qualification </h5>
            </div>
            <div class="ibox-content">
                <div class="">

                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="ibox ">
            <div class="ibox-title bg-safe">
                <h5>Qualification </h5>
            </div>
            <div class="ibox-content">
                <div class="">

                </div>
            </div>
        </div>
    </div>


{% endblock %}