{%extends 'evaluation-submission/index.html'%}
{% load students_per_course %}
{% load reports_per_school %}
{%load static%} {%block content%}

 <div id="wizard" class="">

{% if evaluations %}
     <h5 class="fs-2 mt-n5 text-primary">Courses to Evaluate</h5>
     <p class="fs-4 fw-lighter text-muted">
     Please click on each of the following links to evaluation the respective course.
    </p>
{#   <h5> You are an {{ student.course_group }} student.</h5>#}
    {% for evaluation in evaluations %}

    <div class="card  mb-1">

  <div class="card-body">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="48" width="48"><path stroke="#1b6edf" stroke-width="1.5" d="M14 2H23"></path><path stroke="#1b6edf" stroke-width="1.5" d="M1 22H23"></path><path stroke="#1b6edf" stroke-width="1.5" d="M14 7H23"></path><path stroke="#1b6edf" stroke-width="1.5" d="M14 12H23"></path><path stroke="#1b6edf" stroke-width="1.5" d="M1 17H23"></path><path fill="#92ceff" d="M2 2H11V12H2z"></path><path stroke="#1b6edf" stroke-width="1.5" d="M2 2H11V12H2z"></path></svg>
    <a href="{% url 'evaluation_form' user_id evaluation.id %}">
        <h4>{% get_lecturer_name evaluation.course.lecturer_code %}</h4>
       <h5>{{ evaluation }} • {{ evaluation.course.lecturer_code }} • {{ evaluation.course.course_group }}</h5>
    </a>
  </div>
</div>
    {% endfor %}
    {% else %}
    <p class="fs-4 fw-lighter text-muted">
     No courses to evaluate yet. Come back soon! <br>Thank you
    </p>
    {% endif %}





{%endblock%}
</div>