{% extends 'admin-templates/dashboard.html' %}
{% load students_per_course %}
{% load reports_per_school %}
{% block overview_stats %}
    {% include 'compute/includes/overview-lecturer-stats.html' %}
{% endblock %}
{% block content %}
        <div class="col-lg-12">
                <h1>All students registered{{ all_student_users }}</h1>
                <h1>Students Activated {{ students_with_profiles }}</h1>
                <h1>Non-active Students {{ all_non_active_students }}</h1>
                <h1>Students Who have evaluated{{ students_who_have_evaluated }}</h1>
        </div>
{% endblock %}