{% extends 'admin-templates/dashboard.html' %}
{% load students_per_course %}
{% load reports_per_school %}

{% block content %}

    <div class="row">
        h4>Students User Statistics</h4>
    </div>
    <div class="row">
            <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h5>Registered</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ all_student_users }}</h1>

                        <small>Total Registered Students</small>
                    </div>
                </div>
            </div>

        <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h5>Activated</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ students_with_profiles }}</h1>

                        <small>Total Active Students</small>
                    </div>
                </div>
            </div>



      <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h5>Evaluated</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ students_who_have_evaluated }}</h1>

                        <small>Total Evaluated (Students)</small>
                    </div>
                </div>
            </div>

          <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h5>Non-Activated</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ all_non_active_students }}</h1>

                        <small>Total Non-Active Students</small>
                    </div>
                </div>
            </div>
    </div>

    <div class="row">
        <h4>Lecturers User Statistics</h4>
    </div>
        <div class="row">
            <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h5>Registered</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ all_lecturer_users }}</h1>

                        <small>Total Registered Students</small>
                    </div>
                </div>
            </div>

        <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h5>Activated</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ lecturers_with_profiles }}</h1>

                        <small>Total Active Students</small>
                    </div>
                </div>
            </div>


          <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h5>Non-Activated</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ all_non_active_lecturers }}</h1>

                        <small>Total Non-Active Students</small>
                    </div>
                </div>
            </div>
    </div>


{% endblock %}