{% extends 'admin-templates/dashboard.html' %}
{% load students_per_course %}
{% load reports_per_school %}

{% block content %}

    <div class="row">
        <h4>Students User Statistics</h4>
    </div>
    <div class="row">
            <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h5>Registered (TSS)</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ all_student_users }}</h1>

                        <small>Total Student in System</small>
                    </div>
                </div>
            </div>



                <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h5>N/Active Students</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ all_non_active_students }}</h1>

                        <small>N/Active Students</small>
                    </div>
                </div>
            </div>


                <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h6>Active Students</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ all_student_users_active }}</h1>

                        <small>Total Active Students</small>
                    </div>
                </div>
            </div>


                        <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h6>Limbo Students</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ student_in_limbo }}</h1>

                        <small>Total Limbo Students</small>
                    </div>
                </div>
            </div>

                  <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h6>Whitelisted</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ students_with_profiles }}</h1>

                        <small>Students in Good Standing</small>
                    </div>
                </div>
            </div>



      <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h6>Evaluated</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ students_who_have_evaluated }}</h1>

                        <small>Total Evaluated (Students)</small>
                    </div>
                </div>
            </div>


    </div>

    <div class="row">
        <h4>Lecturers User Statistics</h4>
    </div>
        <div class="row">
            <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h6>Registered (TLS)</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ all_lecturer_users }}</h1>

                        <small>Total Lecturers in System</small>
                    </div>
                </div>
            </div>

        <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h6>N/Active Lecturers</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ all_non_active_lecturers }}</h1>

                        <small>Total Non-Active Lecturers</small>
                    </div>
                </div>
            </div>


          <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h6>Active Lecturers</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ all_lecturer_users_active }}</h1>

                        <small>Total Active Lecturers</small>
                    </div>
                </div>
            </div>

        <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h6>Limbo Lecturers</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ lecturers_in_limbo }}</h1>

                        <small>Total Limbo Lecturers</small>
                    </div>
                </div>
            </div>
        <div class="col">
                <div class="ibox ">
                    <div class="ibox-title bg-safe">
{#                        <span class="label label-success float-right">Evaluation</span>#}
                        <h6>Whitelisted Lecturers</h6>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ lecturers_with_profiles }}</h1>

                        <small>Total Limbo Lecturers</small>
                    </div>
                </div>
            </div>
    </div>


{% endblock %}