{% extends 'student-signup-templates/index.html' %}
{% block form_content %}
    <form class="form-detail" method="post">
        {% csrf_token %}
        <h2>Login</h2>

       <div class="row">
             <div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger mb-4" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                             viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                        </svg>
                                    </button>
                                    {{ message.message }}
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

        {% if login_error %}
            <div class="alert alert-warning border-2 border-danger" role="alert">
                <strong>Oops!</strong> {{ login_error }} <small><a href="" class="text-primary">Forgot
                Password?</a></small> </button>
            </div>
        {% endif %}

        <div class="form-row mb-1">

            <label for="username">EMAIL</label>
            <input id="username" required name="username" type="username" class="form-control"
                   placeholder="you@example.com">
        </div>

        <div class="form-row form-row-1 ">
            <div class="d-flex justify-content-between">
                <label for="password">PASSWORD</label>
                {#                                        <a href=" {% static 'auth_pass_recovery_boxed.html' %} " class="forgot-pass-link">Forgot Password?</a>#}
            </div>
            <input id="password" required name="password" type="password" class="form-control" placeholder="Password">


        </div>


        <div class="form-row-last">
            <input type="submit" name="login" class="mt-2 text-white btn btn-primary" value="Login">
        </div>
    <div class="row">
        <a href="{% url 'login_lecturer' %}" class=" fs-6 btn btn-xs text-muted"><small>Sign in as Lecturer</small></a>
{#        <a href="{% url 'login_administrator' %}" class=" fs-6 btn btn-xs text-muted"><small>Sign in as Admin</small></a>#}
    </div>
       </div>
    </form>

{% endblock %}