{% extends 'admin-templates/dashboard.html' %}


{% block content %}
    <div class="col">
        <div class="ibox ">
            <div class="ibox-title bg-safe">
                <h5>Email </h5>

            </div>

            <div class="ibox-content" id="report">
<form method="post">
    {% csrf_token %}
   <div class="mb-3">
  <label for="subject" class="form-label">Email Subject</label>
  <input type="text" class="form-control" required name="subject" id="subject" placeholder="">
</div>
<div class="mb-3">
  <label for="message" class="form-label">Email Message</label>
  <textarea class="form-control" name="message" required id="message" rows="3"></textarea>
</div>
<h5>Send to: </h5>
    <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="sendto" id="students" value="students">
  <label class="form-check-label" for="students">Students</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="sendto" id="lecturers" value="lecturers">
  <label class="form-check-label" for="lecturers">Lecturers</label>
</div>


    <div class="form-row-last">
        <input type="submit" name="login" class="mt-2 text-white btn btn-primary" value="Send">
    </div>
                </form>


            </div>
        </div>
    </div>


{% endblock %}